<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/admin/css/base.css" rel="stylesheet" type="text/css">
    <meta content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <link href="/static/admin/css/responsive.css" rel="stylesheet" type="text/css">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          rel="stylesheet"/>
    <meta content="NONE,NOARCHIVE" name="robots">
    <link href="{% static 'scholarship_from_edit.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'student_home_style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'user_info_list.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
<div id="container">
    <div id="header">
        <div id="branding" style="margin: 0 auto; justify-content: center">
            <h1 id="site-name2">CDFI Enterprise</h1>
        </div>
    </div>
    <div class="breadcrumbs">
        <a href="/student/" id="home" style="float: left;">Home</a>
        {% block breadcrumb %}{% endblock %}
        <div style="float: right">
            <label>({{user.username}})</label>
            <a href="/student/logout/" id="logout">LogOut</a>
        </div>
    </div>
    <div/>
    {% block content %}{% endblock %}
    <div>
    </div>


</body>
</html>