<!DOCTYPE html>

<html dir="ltr" lang="en-us">

<head>
    <title>Logged out | CDFI site</title>
    <link href="/static/admin/css/base.css" rel="stylesheet" type="text/css">

    <meta content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <link href="/static/admin/css/responsive.css" rel="stylesheet" type="text/css">


    <meta content="NONE,NOARCHIVE" name="robots">
</head>


<body class="" data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name">CDFI Enterprise</h1>

        </div>


    </div>
    <!-- END Header -->
    <div class="breadcrumbs"><a href="/./">Home</a></div>


    <div class="main shifted" id="main">

        <div class="content">


            <!-- Content -->
            <div class="colM" id="content">

                <h1>Logged out</h1>


                <p>Thank you for your time, hope see you soon.</p>

                <p><a href="/./student/signin/">Log in again</a></p>


                <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
        </div>
    </div>
</div>
<!-- END Container -->
</body>

</html>