{% extends "student/base.html" %}
{% block title %}Scholarship{% endblock %}
{% block breadcrumb %}
<a disabled style="float: left; outline: none;">-></a>
<a href="/student/scholarship/" id="scholarship-breadcrumb" style="float: left;">Scholarship</a>
{% endblock %}

{% block content %}

<form action="/student/scholarship/submit/" id="scholarship-form" method="post">
    <br/>
    <div class="progress-bar">
        <div class="bar-container">
            <div class="bar" style="width: 100%"></div>
        </div>
        <div class="status-container">
            <span class="status {% if request.status == 'PENDING' %}pending{% endif %}{% if request.status == 'UNDER_REVIEW' %}under-review{% endif %}{% if request.status == 'ACCEPTED' %}accepted{% endif %}{% if request.status == 'REJECTED' %}rejected{% endif %}">{{ request.status }}</span>
        </div>
        <div class="message-container">
            <p class="message">
                {% if request.status == 'PENDING' %}
                We got Your Request, we will look into it soon
                {% endif %}
                {% if request.status == 'UNDER_REVIEW' %}
                We are reviewing your request, we will be in touch soon
                {% endif %}
                {% if request.status == 'APPROVED' %}
                Congratulations! Your request has been approved :)
                {% endif %}
                {% if request.status == 'REJECTED' %}
                Oh Sorry! But we could not approve your request
                {% endif %}
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="degree-year">Degree Year</label>
        <select class="form-control" disabled id="degree-year" name="degree_year">
            {% for year in DEGREE_YEAR_CHOICES %}
            {% if year.0 == request.degree_year %}
            <option selected value="{{ request.degree_year }}">{{ request.degree_year }}</option>
            {% else %}
            <option value="{{ year.0 }}">{{ year.1 }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" disabled id="age" max="100" min="18" name="age" type="number"
               value="{{ request.age }}">
    </div>
    <div class="form-group">
        <label for="financial-situation">Financial Situation</label>
        <select class="form-control" disabled id="financial-situation" name="financial_situation">
            {% for situation in FINANCIAL_SITUATION_CHOICES %}
            {% if situation.0 == request.financial_situation %}
            <option id="fco" selected value="{{ request.financial_situation }}">{{ request.financial_situation }}
            </option>
            {% else %}
            <option value="{{ situation.0 }}">{{ situation.1 }}</option>
            {% endif%}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="parent-work">Do your parents work?</label>
        <select class="form-control" disabled id="parent-work" name="parent_work">
            {% for choice in YES_NO_CHOICES %}
            {% if choice.0 == request.parent_work %}
            <option selected value="{{ request.parent_work }}">{{ request.parent_work }}</option>
            {% else %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endif%}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="tenant">Are you a tenant?</label>
        <select class="form-control" disabled id="tenant" name="tenant" required>
            {% for choice in YES_NO_CHOICES %}
            {% if choice.0 == request.tenant %}
            <option selected value="{{ request.tenant }}">{{ request.tenant }}</option>
            {% else %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endif%}
            {% endfor %}
        </select>
        <div class="error" id="tenant-error"></div>
    </div>
    <div class="form-group">
        <label for="special-needs">Do you have special needs?</label>
        <select class="form-control" disabled id="special-needs" name="special_needs">

            {% for choice in YES_NO_CHOICES %}
            {% if choice.0 == request.special_needs %}
            <option selected value="{{ request.special_needs }}">{{ request.special_needs }}</option>
            {% else %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endif%}
            {% endfor %}
        </select>
    </div>
    <br/>
    <button id="edit-button" onclick="enableEdit()" type="button">Edit</button>
    <button hidden id="submit-button" type="submit">Submit</button>
    <input class="btn btn-secondary" hidden id="cancel-button" onclick="disableEdit()"
           type="button" value="Cancel">
</form>
<script>
    function enableEdit() {
        document.getElementById("degree-year").disabled = false;
        document.getElementById("age").disabled = false;
        document.getElementById("financial-situation").disabled = false;
        document.getElementById("parent-work").disabled = false;
        document.getElementById("special-needs").disabled = false;
        document.getElementById("tenant").disabled = false;
        document.getElementById("submit-button").hidden = false;
        document.getElementById("edit-button").hidden = true;
        document.getElementById("cancel-button").hidden = false;
    }

    function disableEdit() {
        document.getElementById("degree-year").disabled = true;
        document.getElementById("age").disabled = true;
        document.getElementById("financial-situation").disabled = true;
        document.getElementById("parent-work").disabled = true;
        document.getElementById("special-needs").disabled = true;
        document.getElementById("tenant").disabled = true;
        document.getElementById("submit-button").hidden = true;
        document.getElementById("edit-button").hidden = false;
        document.getElementById("cancel-button").hidden = true;

        document.getElementById("degree-year").value = "{{request.degree_year}}";
        document.getElementById("age").value = "{{request.age}}";
        document.getElementById("financial-situation").value = "{{request.financial_situation}}";
        document.getElementById("parent-work").value = "{{request.parent_work}}";
        document.getElementById("special-needs").value = "{{request.special_needs}}";
        document.getElementById("tenant").value = "{{request.tenant}}";
    }

    let status = "{{ request.status }}";
    let bar = document.querySelector('.bar');

    if (status === 'PENDING') {
        bar.style.width = '10%';
        bar.style.background = 'gray';
    } else if (status === 'UNDER_REVIEW') {
        bar.style.width = '50%';
        bar.style.background = 'blue';
    } else if (status === 'APPROVED') {
        bar.style.width = '100%';
        bar.style.background = 'green';
    } else if (status === 'REJECTED') {
        bar.style.width = '100%';
        bar.style.background = 'red';
    }

</script>

{% endblock %}