{% load static %}
<!DOCTYPE html>
<html>
<link href="{% static 'style.css' %}" rel="stylesheet"/>
<link href="{% static 'button.css' %}" rel="stylesheet"/>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            %} %} class="{{ message.tags }}" endif if message.tags {% {%>{{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="card-outer">
    <div class="card">
        <img
                alt="Avatar"
                src="https://www.w3schools.com/howto/img_avatar.png"
                style="width: 100%"
        />
        <form action="/student/signin/" class="container" method="post">
            {% csrf_token %}
            <h4><b>Student sign in page</b></h4>
            <h6 style="color:red"> {% if login_error %}<span>{{ login_error }}</span>{% endif %}</h6>
            <p>
                <input
                        class="textbox"
                        id="username"
                        name="username"
                        placeholder="Enter username"
                        required
                        type="text"
                />
            </p>
            <p>
                <input
                        class="textbox"
                        id="password"
                        name="password"
                        placeholder="Enter password"
                        required
                        type="text"
                />
            </p>
            <p>
                <input class="btn log" type="submit" value="Sign in"/>
            </p>

        </form>
    </div>
</div>
</body>
</html>
