<style>
    section.py-5 {
  background-color: #f2f2f2; /* background color of the section */
}

h1.fw-light {
  font-size: 36px; /* font size of the header */
  font-weight: bold; /* font weight of the header */
  text-align: center; /* align the header text to the center */
  color: #6200ee; /* text color of the header */
  text-shadow: 2px 2px #eeeeee; /* add text shadow to the header */
  margin-top: 50px; /* add margin to the top of the header */
  margin-bottom: 15px; /* add margin to the bottom of the header */
}

.btn {
  background-color: #3f51b5; /* background color of the button */
  color: #fff; /* text color of the button */
  font-size: 18px; /* font size of the button */
  padding: 10px 15px; /* top-right-bottom-left */
  border-radius: 20px; /* round corners of the button */
  text-decoration: none; /* remove underline from the button */
  margin-right: 10px; /* add margin to the right of the button */
}

.btn:hover {
  background-color: #283593; /* background color of the button when hovered over */
}

form {
  width: 50%; /* width of the form */
  margin: auto; /* center the form */
}

input[type="text"], input[type="number"], input[type="date"], textarea {
  width: 100%; /* width of the form inputs */
  padding: 12px 20px; /* top-right-bottom-left */
  margin: 8px 0; /* top-bottom */
  box-sizing: border-box; /* include padding and border in the total width and height of the element */
  border: 1px solid #ccc; /* add border to the form inputs */
  border-radius: 4px; /* round corners of the form inputs */
}

input[type="submit"] {
  width: 100%; /* width of the submit button */
  background-color: #4CAF50; /* background color of the submit button */
  color: white; /* text color of the submit button */
  padding: 14px 20px
</style>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Fill Work Hours</h1>
          <a href="worker_logout" class="btn btn-primary my-2">logout</a>
          <a href="home_pageworker" class="btn btn-primary my-2">home page</a>
        </p>
      </div>
    </div>
  </section>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add">
</form>