{% extends 'base.html' %}

{% block content %}
<h1>Delete Workers</h1>
<table class="table table-dark table-striped">
  <tr>
    <th>Username</th>
     <th>First Name  </th>
    <th>Last Name  </th>
    <th>Email </th>
    <th>Actions</th>
  </tr>
  {% for worker in workers %}
  <tr>
    <td>{{ worker.user.username }}</td>
    <td>{{ worker.user.first_name }}</td>
    <td>{{ worker.user.last_name }}</td>
    <td>{{ worker.user.email }}</td>
    <td>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ worker.user.id }}">
        <button type="submit" name="action" value="delete">Delete worker</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}