 <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Hello Dear Worker</h1>
          <a href="worker_logout" class="btn btn-primary my-2">logout</a>
        <a href="home_pageworker" class="btn btn-primary my-2">home page</a>
        </p>
      </div>
    </div>
  </section>
<table>
  <tr>
    <th>Date</th>
    <th>Hours</th>
    <th>Comment</th>
    <th>Actions</th>
  </tr>
  {% for workhours in workhours_list %}
  <tr>
    <td>{{ workhours.date }}</td>
    <td>{{ workhours.hours }}</td>
    <td>{{ workhours.comment }}</td>
    <td>

      <form method="POST" action="{% url 'delete_workhours' workhours.pk %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
