<!DOCTYPE html>
<table>
<head>
  <title>Table with 6 indexes</title>
  <style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-dark {
  background-color: #212529;
  color: white;
}

.table-striped {
  background-color: white;
}

th {
  background-color: #212529;
  color: white;
}

  </style>
</head>
<body>

  <table>
    <tr>
      <th>scholarship</th>
      <th>points</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>A</td>
      <td>betwen12-24</td>
      <td>5k</td>
    </tr>
    <tr>
      <td>B</td>
       <td>betwen24-36</td>
      <td>7.5k</td>
    </tr>
    <tr>
      <td>C</td>
       <td>betwen36-44</td>
      <td>10k</td>
    </tr>
  </table>
  <table >
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Points</th>
      <th>status</th>
      <th>Actions</th>

    </tr>



    {% for student in students %}
    <tr>
      <td>{{ student.username }}</td>
      <td>{{ student.first_name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.points }}</td>
      <td>
        {{ student.status }}
      </td>

       <td>
          <button type="submit" name="action" value="transfer money">Transfer A</button>
          <button type="submit" name="action" value="transfer_history">transfer B </button>
       <button method="post" action="/transfer-money">transferC</button>

    </tr>
  </table>
</body>
</table>

