body {
  background-color: lightblue;
  font-family: verdana;
}

.space {
  padding: 25px;
}

.title {
  text-align: center;
  color: white;
}

.card-outer {
  display: flex;
  justify-content: center;
  height: 98vh;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 300px;
  height: 550px;
}

.card:nth-child(2) {
  margin: 0 64px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}


/* Style the form */
#scholarship-form {
  width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
}

/* Style the form elements */
#scholarship-form .form-group {
  margin-bottom: 20px;
}

#scholarship-form label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

#scholarship-form .form-control {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the error messages */
.error {
  color: red;
  font-size: 12px;
}

/* Style the submit button */
#scholarship-form button[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#scholarship-form button[type="submit"]:hover {
  background-color: #45a049;
}
