{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<link rel="stylesheet" href="{% static 'button.css' %}"/>



<!DOCTYPE html>
<html>
  <head>
      <div style="text-align: center; position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%);">
  <h4>CDFI ENTERPRISE</h4> <h5>`Community Development Financial Institution`</h5>
</div>
    <style>
      #center-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
    </style>
  </head>
  <body>
    <!-- Your HTML content goes here -->
  </body>
</html>





<body>
<div class="card-outer">
    <div class="card">
        <img
                src="https://www.w3schools.com/howto/img_avatar.png"
                alt="Avatar"
                style="width: 100%"
        />
        <div class="container">
            <h4><b>Are you manager?</b></h4>
<!--            <a href="/manager-signin"-->
            <a href="/members/login_user"
            ><input class="btn log" type="button" value="Sing in"
            /></a>
        </div>
    </div>
    <div class="card">
        <img
                src="https://www.w3schools.com/w3images/avatar2.png"
                alt="Avatar"
                style="width: 100%"
        />
        <div class="container">
            <h4><b>Are you Worker?</b></h4>
            <p><a href="members/worker_login"
            ><input class="btn log" type="button" value="Sing in"
            /></a></p>
            <a href="/worker-signup"
            ><input class="btn reg" type="button" value="Sing up"
            /></a>
        </div>
    </div>
    <div class="card">
        <img
                src="https://www.w3schools.com/bootstrap4/img_avatar1.png"
                alt="Avatar"
                style="width: 100%"
        />
        <div class="container">
            <h4><b>Are you student?</b></h4>
            <p><a href="/student/signin/"
            ><input class="btn log" type="button" value="Sing in"
            /></a></p>
            <a href="/student/signup/"
            ><input class="btn reg" type="button" value="Sing up"
            /></a>
        </div>
    </div>
</div>
</body>
</html>
